{% extends'templateLogin.html.twig' %}
{% block body %}
    <div class="col-12 pr-5 pl-5 d-flex flex-column justify-content-center vh-100" id="right_Zone_Login_Registe">
        <form method="post" data-id="{{ user.id }}" id="form_New_PWD">
            <div id="info_Change" class="alert alert-success none"></div>


            <h1 class="h3 mb-3 font-weight-normal">Changer son mot de passe</h1>
            <label for="inputEmail">E-mail</label>
            <input type="email" value="" name="email" id="Email" class="form-control" required autofocus>
            <label for="inputPassword">Password</label>
            <input type="password" name="password" id="Password" class="form-control" required>
            <label for="inputPassword">confirmation</label>
            <input type="password" name="password2" id="Password2" class="form-control" required>

            <button class="btn btn-lg btn-success" type="submit">
                Changer
            </button>
        </form>

    </div>
{% endblock %}