<div class="add_Posts mt-2">
    <div class="row">
        <button class="col-12 btn_status_action">Status</button>
        <!--<button class="col-6 btn_status_action">Sondages</button>-->
    </div>
    {{ form_start(formPost,{'action': path('post.addPostProfilUser',{'id':user.id})})}}
    {{ form_row(formPost.content) }}
    <input type="submit" value="Post">
    {{ form_end(formPost) }}
    <!--<form action="" method="post">
        <textarea name="post" id="post" cols="30" rows="5" placeholder="Votre posts"></textarea>
        <div class="row flex-row-reverse">
            <input type="submit" class="btn btn-primary btn_Action_Post mb-2 mr-4" value="Poster">
            <buttom class="btn btn-dark btn_Action_Post mb-2 mr-4">Effacer</buttom>
        </div>
    </form>-->
</div>