<div class="add_Posts mt-2">
    <div class="row">
        <button class="col-12 btn_status_action">Status</button>
        <!--<button class="col-6 btn_status_action">Sondages</button>-->
    </div>
    {{ form_start(formPost,{'action': path('post.addPostProfilUser',{'id':user.id})})}}
    {{ form_row(formPost.content) }}
    <div class="row">
        <div class="col-12">
            <input type="submit" value="Post" class="btn btn-success w-100">

            {{ form_row(formPost.privat) }}
        </div>
    </div>

    {{ form_end(formPost) }}
</div>
