{% extends "base.html.twig" %}
{% block body %}
<div class="jumbotron text-center">
    <h1>Salut tout le monde, des coucous</h1> 
    <p>Welcome sur mon nouveau site web pour ma formation dev</p>
</div>
{% endblock %}
