<div class="d-flex flex-column justify-content-center col-4 mb-4">
    <div class="preview_Event_Card">
        <figure class="image_card">
            <img src="{{ asset('build/img/cover/1.jpg') }}" alt="">
        </figure>
        <div class="info_Event p-4">
            <div class="date_Event d-flex flex-column text-center">
                <p class="day_Event">14</p>
                <p class="month_Event">Juillet</p>
            </div>
            <div class="info_Event">
                <div class="row">
                    <div class="col-12 title_Event">
                        <a href="">La soirée</a>
                    </div>
                    <div class="col-6 zone_Lieu_Hour">
                        <p class="hour_Event">20h - 02h</p>
                    </div>
                    <div class="col-6 lieu_Event d-flex flex-row justify-content-center align-items-center">
                        <svg class="icon-pin">
                            <use xlink:href="#svg-pin"></use>
                        </svg>
                        <p class="lieu_Event">le Trucmush</p>
                    </div>
                </div>
                <p class="descrip_Event">
                    Une petite soirée rien que pour vous
                </p>
                <p class="orga_Event">Orga: Arthur</p>
            </div>
            <div class="mt-4">
                <button class="btn btn-success w-100">Participer</button>
            </div>
        </div>
    </div>
</div>
