<div class="row mt-3 mb-3">
    <div class="col-12 p-0 d-flex section_Action justify-content-around rounded-xl bg-light sub_Menu_Page">
        <a class="mt-4 mb-4" href="">
            <svg class="section-menu-item-icon icon-timeline">
                <use xlink:href="#svg-timeline"></use>
            </svg>
        </a>
        <a class="mt-4 mb-4" href="">
            <svg class="section-menu-item-icon icon-info">
                <use xlink:href="#svg-info"></use>
            </svg>
        </a>
        <a class="mt-4 mb-4" href="">
            <svg class="section-menu-item-icon icon-members">
                <use xlink:href="#svg-members"></use>
            </svg>
        </a>
        <a class="mt-4 mb-4" href="">
            <svg class="section-menu-item-icon icon-photos">
                <use xlink:href="#svg-photos"></use>
            </svg>
        </a>
        <a class="mt-4 mb-4" href="">
            <svg class="section-menu-item-icon icon-videos">
                <use xlink:href="#svg-videos"></use>
            </svg>
        </a>
        <a class="mt-4 mb-4" href="">
            <svg class="section-menu-item-icon icon-events">
                <use xlink:href="#svg-events"></use>
            </svg>
        </a>
    </div>
</div>