<div class="row mt-3 mb-3">
    <div class="col-12 p-0 d-flex section_Action justify-content-around rounded-xl bg-light sub_Menu_Page">
        <a class="d-flex align-items-center justify-content-center w-100 actif" href="" id="sub_Menu_Page_News">
            <svg class="section-menu-item-icon icon-timeline">
                <use xlink:href="#svg-timeline"></use>
            </svg>
        </a>
        <a class="d-flex align-items-center justify-content-center w-100" href="" id="sub_Menu_Page_friends">
            <svg class="section-menu-item-icon icon-members">
                <use xlink:href="#svg-members"></use>
            </svg>
        </a>
        <a class="d-flex align-items-center justify-content-center w-100" href="" id="sub_Menu_Page_Groups">
            <svg class="icon-group">
                <use xlink:href="#svg-group"></use>
            </svg>
        </a>
        <a class="d-flex align-items-center justify-content-center w-100" href="" id="sub_Menu_Page_Events">
            <svg class="section-menu-item-icon icon-events">
                <use xlink:href="#svg-events"></use>
            </svg>
        </a>
    </div>
</div>