<div class="aside_Block w-100 mt-2 p-3 widget container">
    <h3>Réseaux</h3>
    <div class="row social-links ml-2 mr-2 justify-content-center align-items-center d-flex">
        <div class="social-link facebook ">
            <a href="#" class="d-flex justify-content-center align-items-center">
                <svg class="social-link-icon icon-facebook">
                    <use xlink:href="#svg-facebook"></use>
                </svg>
            </a>
        </div>
        <div class="social-link twitter">
            <a href="#" class="d-flex justify-content-center align-items-center">
                <svg class="social-link-icon icon-twitter">
                    <use xlink:href="#svg-twitter"></use>
                </svg>
            </a>
        </div>
        <div class="social-link instagram">
            <a href="#" class="d-flex justify-content-center align-items-center">
                <svg class="social-link-icon icon-instagram">
                    <use xlink:href="#svg-instagram"></use>
                </svg>
            </a>
        </div>
        <div class="social-link twitch">
            <a href="#" class="d-flex justify-content-center align-items-center">
                <svg class="social-link-icon icon-twitch">
                    <use xlink:href="#svg-twitch"></use>
                </svg>
            </a>
        </div>
        <div class="social-link artstation">
            <a href="#" class="d-flex justify-content-center align-items-center">
                <svg class="social-link-icon icon-artstation">
                    <use xlink:href="#svg-artstation"></use>
                </svg>
            </a>
        </div>
        <div class="social-link youtube">
            <a href="#" class="d-flex justify-content-center align-items-center">
                <svg class="social-link-icon icon-youtube">
                    <use xlink:href="#svg-youtube"></use>
                </svg>
            </a>
        </div>
        <div class="social-link discord">
            <a href="#" class="d-flex justify-content-center align-items-center">
                <svg class="social-link-icon icon-discord">
                    <use xlink:href="#svg-discord"></use>
                </svg>
            </a>
        </div>
        <div class="social-link patreon">
            <a href="#" class="d-flex justify-content-center align-items-center">
                <svg class="social-link-icon icon-patreon">
                    <use xlink:href="#svg-patreon"></use>
                </svg>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-2"></div>
    </div>
</div>