{% extends "base.html.twig" %}
{% block body %}
    <div class="container top_Banner mt-4 mb-4">
        <img src="{{ asset('build/img/banners/groups-icon.png') }}" alt="" class="section_Img">
        <div class="top_Banner_Text">
            <h2>Les groupes</h2>
            <p>Tu en trouvera pour tout.</p>
        </div>
    </div>
{% endblock %}