<h1>Welcome {{ username }}!</h1>

<p>
    You signed up as {{ username }} the following email:
</p>
<p><code>{{ address }}</code></p>
<p>pour changer ton mot de passe, tu peux aller sur: <a href="http://127.0.0.1:8000/changepwd?token={{ token }}">changement de mot de passe</a></p>
