{% extends 'base.html.twig' %}

{% block body %}

    <div class="m4 p4">
        <h1>Un trous de mémoire ?</h1>
        {% if message is defined %}
            <p>{{ message }}</p>
        {% else %}
            <form action="{{ path('user.needResetPassword') }}" method="POST">
                <input type="email" placeholder="Votre Email" name="email" id="email">
                <input type="submit" value="Envoyer">
            </form>
        {% endif %}
    </div>
{% endblock %}